header {
display: flex;
}

.dot {
  height: 120px;
  width: 120px;
  background-color: #e19999;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greybackground {
    background: grey;
height: 200px;
}